{
	"extends": ["canonical", "prettier"],
	"rules": {
		"no-warning-comments": "off",
		"id-length": ["error", { "min": 1 }],
		"import/no-unassigned-import": ["warn", { "allow": ["**/*.css"] }],
		"react/jsx-first-prop-new-line": ["error", "always"],
		"no-param-reassign": ["error", { "props": false }],
		"func-style": "off",
		"react-hooks/exhaustive-deps": "off"
	},
	"overrides": [
		{
			"extends": ["canonical/typescript", "plugin:prettier/recommended"],
			"files": "*.ts",
			"rules": {
				"canonical/destructuring-property-newline": "off",
				"canonical/import-specifier-newline": "off"
			},
			"parserOptions": {
				"project": "./tsconfig.json"
			}
		},
		{
			"extends": [
				"canonical/react",
				"canonical/jsx-a11y",
				"canonical/typescript",
				"canonical/next",
				"plugin:prettier/recommended"
			],
			"rules": {
				"canonical/destructuring-property-newline": "off",
				"canonical/import-specifier-newline": "off",
				"react/forbid-component-props": "off",
				"canonical/filename-match-exported": "warn",
				"semi-style": "off"
			},
			"files": "*.tsx",
			"parserOptions": {
				"project": "./tsconfig.json"
			}
		},
		{
			"extends": ["canonical/jest", "plugin:prettier/recommended"],
			"files": "*.test.{ts,tsx}",
			"parserOptions": {
				"project": "./tsconfig.json"
			}
		},
		{
			"extends": ["canonical/json", "plugin:prettier/recommended"],
			"rules": {
				"jsonc/indent": "off",
				"jsonc/object-curly-spacing": "off",
				"jsonc/object-property-newline": "off",
				"jsonc/array-bracket-newline": "off",
				"jsonc/array-element-newline": "off",
				"canonical/filename-match-regex": "off"
			},
			"files": "*.json"
		},
		{
			"extends": ["canonical/yaml", "plugin:prettier/recommended"],
			"files": "*.yaml"
		},
		{
			"extends": ["canonical/graphql", "plugin:prettier/recommended"],
			"files": "*.graphql"
		}
	],
	"root": true
}
